#!/usr/bin/env xdg-open

[Desktop Entry]
Comment=
Encoding=UTF-8
Exec=/usr/bin/wine "C:\\\\Program Files\\Internet Explorer\\iexplore.exe"
GenericName=
Icon=applications-internet
MimeType=
Name=Internet Explorer
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Created-By=WINE
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
