#!/usr/bin/env xdg-open

[Desktop Entry]
Comment=
Encoding=UTF-8
Exec=/usr/bin/wine regedit.exe
GenericName=
Icon=nepomuk
MimeType=
Name=Registry Editor
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Created-By=WINE
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
